<ng-container *ngIf="isAuthorized;else unAuthorized">

  <app-nav-top *ngIf="topNav;else sideNavTemp"></app-nav-top>

  <app-footer></app-footer>
</ng-container>

<ng-template #unAuthorized>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-template>

<ng-template #sideNavTemp>
  <div class="container">
    <app-nav-bootstrap></app-nav-bootstrap>
  </div>


  <div class="page-content p-2" id="content">
    <button id="sidebarCollapse" type="button"
      class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4 sticky-top"><i
        class="fa fa-bars mr-2"></i></button>
    <div class="main-content mb-4">
      <router-outlet></router-outlet>
    </div>

  </div>
</ng-template>
