<div class="text-end">
  <a *ngIf="showDownloadAll && dataSource.length > 0" (click)="downloadImages()"> <i class="fa fa-download"
      aria-hidden="true"></i></a>
</div>

<div class="row row-cols-auto gy-3">

  <ng-container *ngIf="dataSource.length > 0">
    <div [class]='cardWrapperClass' *ngFor="let chunk of dataSource">
      <app-card [cards]="chunk.cards" [cardTemplate]="chunk"></app-card>
      <!-- <app-card *ngIf="chunk" [cardTemplate]="chunk"></app-card> -->
    </div>
  </ng-container>

</div>
