$spacer:4em;

.m {
  &s {
    &-n {
      &1 {
        margin-left: -($spacer * .25) !important;
      }

      &2 {
        margin-left: -($spacer * .5) !important;
      }

      &3 {
        margin-left: -($spacer * .75) !important;
      }

      &4 {
        margin-left: -($spacer * 1) !important;
      }

      &5 {
        margin-left: -($spacer * 1.25) !important;
      }
    }

  }

  &e {
    &-n {
      &1 {
        margin-right: -($spacer * .25) !important;
      }

      &2 {
        margin-right: -($spacer * .5) !important;
      }

      &3 {
        margin-right: -($spacer * .75) !important;
      }

      &4 {
        margin-right: -($spacer * 1) !important;
      }

      &5 {
        margin-right: -($spacer * 1.25) !important;
      }
    }

  }

  &t {
    &-n {
      &1 {
        margin-top: -($spacer * .25) !important;
      }

      &2 {
        margin-top: -($spacer * .5) !important;
      }

      &3 {
        margin-top: -($spacer * .75) !important;
      }

      &4 {
        margin-top: -($spacer * 1) !important;
      }

      &5 {
        margin-top: -($spacer * 1.25) !important;
      }
    }

  }

  &b {
    &-n {
      &1 {
        margin-bottom: -($spacer * .25) !important;
      }

      &2 {
        margin-bottom: -($spacer * .5) !important;
      }

      &3 {
        margin-bottom: -($spacer * .75) !important;
      }

      &4 {
        margin-bottom: -($spacer * 1) !important;
      }

      &5 {
        margin-bottom: -($spacer * 1.25) !important;
      }
    }

  }



}
